@page "/Main"

@using ContributionSystem.UI.Components
@using ContributionSystem.ViewModels.Models.Contribution;

<Navbar />
<div class="row">
    <ContributionCalculatorForm @bind-ResponseCalculateContributionViewModel="_responseCalculateContributionViewModel" @bind-ErrorMessage="_errorMessage" />
    <div class="col-9 text-center ">
        <ContributionCalculatorTable @bind-ResponseCalculateContributionViewModel="_responseCalculateContributionViewModel" T="ResponseCalculateContributionViewModel" />
    </div>
</div>

@if (_errorMessage != null)
{
    <div class="row justify-content-center">
        <h1>@_errorMessage</h1>
    </div>
    <br />
}