@page "/"
@using ContributionSystem.UI.Components

<div class="row">
    <ContributionCalculatorForm @bind-ResponseCalculateContributionViewModel="responseCalculateContributionViewModel" @bind-ErrorMessage="errorMessage" />
    <div ScrollableTable class="col-9 text-center ">
        <ContributionCalculatorTable @bind-ResponseCalculateContributionViewModel="responseCalculateContributionViewModel" />
    </div>
</div>

@if (@errorMessage != null)
{
    <div class="row">
        <h1>@errorMessage</h1>
    </div>
}