@page "/History"

@if (_requestsHistory != null)
{
    <div class="row">

        @foreach (var element in _requestsHistory)
        {
            <div class="container col-lg-3 col-md-6 col-sm-12 m-0 p-0 ">
                <div class="content border p-3 mr-5 mb-5">

                    @foreach (var info in _fieldlist)
                    {
                        <div class="row p-1">
                            <div class="col-8">
                                <p class="text-nowrap">@info.Name:</p>
                            </div>
                            <div class="col-4">
                                <p class="text-nowrap">@element.GetType().GetProperty((string)info.Name).GetValue(element)</p>
                            </div>
                        </div>
                    }
                    <div class="row justify-content-center">
                        <button class="btn btn-secondary">See details</button>
                    </div>
                </div>
            </div>
        }
    </div>
}

@if (_message != null)
{
    <div class="row justify-content-center">
        <h1>@_message</h1>
    </div>
    <br />
}
else
{
    <div class="row justify-content-center">
        <button class="btn btn-secondary" @onclick="() => LoadMore()">Load more</button>
    </div>
    <br />
}
