@page "/Users"

@using ContributionSystem.UI.Components
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = "UserAdmin")]

<Navbar />
<AuthorizeView Roles="UserAdmin">
    <Authorized>
        <div ScrollableTable class="text-center">
            <table class="table table-bordered">
                <thead>
                    <tr class="active bg-light">
                        <th class="col-3" scope="row">
                            Email
                        </th>
                        <th class="col-3">
                            Name
                        </th>
                        <th class="col-3">
                            Status
                        </th>
                        <th class="col-3">
                            Change status
                        </th>
                    </tr>
                </thead>
                @if (_requestsUsers != null)
                {
                    <tbody>
                        @foreach (var item in _requestsUsers)
                        {
                            <tr>
                                @if (!String.IsNullOrEmpty(item.Email))
                                {
                                    <td scope="row">@item.Email</td>
                                }
                                else
                                {
                                    <td scope="row">Mail not specified</td>
                                }
                                @if (!String.IsNullOrEmpty(item.Name))
                                {
                                    <td>@item.Name</td>
                                }
                                else
                                {
                                    <td>Name not specified</td>
                                }
                                @if (item.Status)
                                {
                                    <td>Enabled</td>
                                    <td class="w-100" type="button" @onclick="() => DisableUser(item.Id)">Disable</td>
                                }
                                else
                                {
                                    <td>Disabled</td>
                                    <td class="w-100" type="button" @onclick="() => DisableUser(item.Id)">Enable</td>
                                }
                            </tr>
                        }
                    </tbody>
                }
            </table>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="row justify-content-center">
            <h1>You do not have permissions to view this page.</h1>
        </div>
        <br />
    </NotAuthorized>
</AuthorizeView>
