<table class="table table-bordered">
    <thead>
        <tr class="active bg-light">
            <th class="col-4" scope="row">
                Month
            </th>
            <th class="col-2">
                %
            </th>
            <th class="col-3">
                Sum
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Response != null)
        {
        @foreach (var item in Response.Items)
        {
        <tr>
            <td scope="row">
                @item.MonthNumber
            </td>
            <td>
                @item.Income
            </td>
            <td>
                @item.Sum
            </td>
        </tr>
        }
        }
    </tbody>
</table>
