@using Microsoft.AspNetCore.Components.Authorization
@using ContributionSystem.UI.Components.Redirects

<AuthorizeView>
    <Authorized>
        <div class="row px-4">
            <div id="Username">
                Hello, @context.User.Identity.Name!
            </div>
            <button class="nav-link btn btn-link" @onclick="BeginLogout" id="Logout">
                Log out
            </button>
        </div>
    </Authorized>
    <NotAuthorized>
        <ToLogin />
    </NotAuthorized>
</AuthorizeView>