<div class="p-3">
    <ul class="nav nav-fill w-100">
        <li class="nav-item col-3 p-0">
            <NavLink class="nav-link border rounded-top" id="Calculations"  @onclick="() => NavigateToCalculationPage()" href="/Main" Match="NavLinkMatch.All">
                Calculations
            </NavLink>
        </li>
        <li class="nav-item col-3 p-0">
            <NavLink class="nav-link border rounded-top" id="History" @onclick="() => NavigateToHistoryPage()" href="/History">
                History
            </NavLink>
        </li>
    </ul>
</div>
