@using ContributionSystem.UI.Constants;

<div class="p-3">
    <ul class="nav nav-fill w-100">
        <li class="nav-item col-3 p-0">
            <a class=@("nav-link border rounded-top " + _calculationButtonExtraClasses) type="button" id="Calculations" @onclick="NavigateToCalculationPage" Match="NavLinkMatch.All">
                Calculations
            </a>
        </li>
        <li class="nav-item col-3 p-0">
                <a class=@("nav-link border rounded-top " + _historyButtonExtraClasses) type="button" @onclick="NavigateToHistoryPage" id="History">
                    History
                </a>
        </li>
        <li class="nav-item col-3 p-0">
        </li>
    </ul>
</div>
