@inherits LayoutComponentBase

<div class="page">

    <div class="main">
        @using ContributionSystem.UI.Components
        <Navbar />
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
